{% extends 'layout.twig' %}

{% set title = 'Authors' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<ul>
{% for author in authors %}
    <li><a href="{{base_url()}}{{ path_for('author', {authorId: author.id}) }}">{{ author.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
